<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/merchant.css")%>">
  <title>Don't Enter : Shop Inside</title>
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<div class="top">
  <div class="banner">
    <a href="/"><img src="images/little_shop_rusty50.png"></img></a>
  </div>
</div>
<div class="nav">
  <div class="dropdown">
    <button class="dropbutton">Merchants
    </button>
    <div class="dropdown-content">
      <a href="/merchants">Merchants Home</a>
      <a href="/merchants/show">Find Merchants</a>
      <a href="/merchants/new">Create New Merchant</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbutton">Categories
    </button>
    <div class="dropdown-content">
      <a href="/categories">Categories Home</a>
      <a href="/categories/show">Find Categories</a>
      <a href="/categories/new">Create New Category</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbutton">Items
    </button>
    <div class="dropdown-content">
      <a href="/items">Items Home</a>
      <a href="/items/show">Find Items</a>
      <a href="/items/new">Create New Item</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="all-container">
    <h1>All Merchants</h1>
    <div class="merchants">
    <% @merchants.each do |merchant| %>
      <div class="merchant">
        <div class="merchant_link">
          <a href="/merchants/<%= merchant.id %>"><p><%= merchant.name %></p></a>
        </div>
        <div class="utility">
          <a href="/merchants/<%= merchant.id %>/edit" class="edit-link">Edit</a>
          <form action="/merchants/<%= merchant.id %>" method="POST" class="delete-link">
            <input type="hidden" name="_method" value="DELETE"/>
            <input type="submit" value="Delete"/>
          </form>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <a href="/merchants"><div class="top_button">Top</div></a>
</div>
