<head>
  <link rel="stylesheet" type="text/css" href="<%= url("/merchant.css")%>">
  <title>Don't Enter : Shop Inside</title>
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<div class="top">
  <a href="/"><div class="logo">
  </div></a>
  <div class="banner">
  </div>
</div>
<div class="nav">
  <div class="dropdown">
    <button class="dropbutton">Merchants
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href>Merchants Home</a>
      <a href>Find Merchants</a>
      <a href>Create New Merchant</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbutton">Items
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href>Items</a>
      <a href>Items Home</a>
      <a href>Find Items</a>
      <a href>Create New Item</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbutton">Categories
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href>Categories</a>
      <a href>Categories Home</a>
      <a href>Find Categories</a>
      <a href>Create New Category</a>
    </div>
  </div>
</div>
<div class="featured-container">
  <h1>Featured Merchants</h1>
</div>
<div class="all-container">
  <a href="merchants"><h1>All Merchants</h1></a>
</div>


<!-- <a class="button" href="/merchants/new">New Merchant</a>
<form action="/merchants/" method="POST">
  <input type="text" name="merchants[name]" placeholder="Merchant name here"/>
  <input type="submit" value="Find"/>
</form>

<h1>All The Merchants</h1>

<% @merchants.each do |merchant| %>
  <a href="/merchants/<%= merchant.id %>"><p><%= merchant.name %></p></a>
  <a href="/merchants/<%= merchant.id %>/edit">Edit Merchant</a>
  <form action="/merchants/<%= merchant.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE"/>
    <input type="submit" value="Delete Merchant"/>
  </form>
<% end %> -->
