<a href="/items">All Items</a>
<a href="/">Home</a>

<h1>Items Info</h1>

<h4>Total Items: <%= @items.count %></h4>
<h4>Average Price Per Item: <%= @items.average_price %></h4>
<h4>Most Recently Created Item: <%= @items.most_recently_created.title %></h4>
<img src="<%= @most_recently_created.image %>" alt="<%= @most_recently_created.title %>">
<h4>$<%= "%.2f" % @items.most_recently_created.price %></h4>
<h4>Created <%= @items.most_recently_created.created_at %></h4>
<h4>Oldest Item: <%= @items.oldest.title %></h4>
<img src="<%= @oldest.image %>" alt="<%= @oldest.title %>">
<h4>$<%= @items.oldest.price %></h5>
<h4>Created <%= @items.oldest.created_at %></h4>
