<a href="/">Little Shop Home</a>
<a href="/items">Items</a>

<h1>Edit Item</h1>

<form action="/items/<%= @item.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT"/>
  Title:<br>
  <input type="text" name="item[title]" value="<%= @item.title %>"/><br><br>
  Description:<br>
  <textarea name="item[description]"><%= @item.description %></textarea><br><br>
  Price:<br>
  <input type="number" name="item[unit_price]" value="<%= @item.price %>"/><br><br>
  Image URL:<br>
  <input type="text" name="item[image]" value="<%= @item.image %>"/><br><br>
  <input type="submit" value="Submit"/>
</form>
