<head>
  <title>Welcome! Shop Inside</title>
  <link type="text/css" rel="stylesheet" href="../../reset.css">
  <link type="text/css" rel="stylesheet" href="../../item.css">
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab" rel="stylesheet">
</head>

<body>
  <header>
    <a href="/"><h1>Little Shop of Orders</h1></a>
  </header>

  <nav>
    <a href="/">Home</a>
    <a href="/items-dashboard">Item Dashboard</a>
    <a href="/items/new">New Item</a>
    <a href="/merchants">Merchants</a>
    <a href="/categories">Categories</a>
  </nav>

  <main>
    <% @items.each do |item| %>
      <figure>

          <img src="<%= item.image %>" alt="<%= item.title %>"/>
          <a href="/items/<%= item.id %>"><h2><%= item.title %></h2></a>
          <p>$<%= '%.2f' % item.price %></p>

          <figcaption class="buttons">
            <button><a href="/items/<%= item.id %>/edit">Edit</a></button>
            <form action="/items/<%= item.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE"/>
              <button><input type="submit" value="Delete Item"/></button>
            </form>
          </figcaption>
      </figure>
    <% end %>
  </main>
</body>
