<head>
  <link rel="stylesheet" type="text/css" href="../../../main.css">
  <title>Don't Enter : Shop Inside</title>
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<div class="top">
  <div class="banner">
    <a href="/"><img src="../../../images/little_shop_rusty50.png"/></a>
  </div>
</div>
<div class="nav">
  <div class="dropdown">
    <a href="/merchants"><button class="dropbutton">Merchants</button></a>
    <div class="dropdown-content">
      <a href="/merchants-dashboard">Merchants Dashboard</a>
      <a href="/merchants/new">Create New Merchant</a>
      <form action="/merchants?:params" method="GET">
        <input class="find" type="text" name="name" placeholder="Find by Name...">
      </form>
    </div>
  </div>
  <div class="dropdown">
    <a href="/categories"><button class="dropbutton">Categories</button></a>
    <div class="dropdown-content">
      <a href="/categories-dashboard">Categories Dashboard</a>
      <a href="/categories/new">Create New Category</a>
      <form action="/categories?:params" method="GET">
        <input class="find" type="text" name="name" placeholder="Find by Name...">
      </form>
    </div>
  </div>
  <div class="dropdown">
    <a href="/items"><button class="dropbutton">Items</button></a>
    <div class="dropdown-content">
      <a href="/items-dashboard">Items Dashboard</a>
      <a href="/items/new">Create New Item</a>
      <form action="/items?:params" method="GET">
        <input class="find" type="text" name="title" placeholder="Find by Name...">
      </form>
    </div>
  </div>
</div>
<a href="/">Little Shop Home</a>

<h1>Items</h1>
<a href="/items/new">New Item</a></br></br>

<% @items.each do |item| %>
  <img src="<%= item.image %>" alt="<%= item.title %>"/>
  <a href="/items/<%= item.id %>"><h2><%= item.title %></h2></a>
  <p>$<%= '%.2f' % item.price %></p>

  <a href="/items/<%= item.id %>/edit">Edit Item</a>

  <form action="/items/<%= item.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE"/>
    <input type="submit" value="Delete Item"/>
  </form>
<% end %>
